<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NGO</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Includ<!-Footer -->

<style>
body{
   color:white;
  background-color: #263238;
  font-family: 'Salsa', cursive;
}
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: black !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #black !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('http://www.yuvakaushal.org/wp-content/uploads/2018/04/yuva2.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


</style>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">




      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse justify-content-center font-weight-bold" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav">




        <!-- Links -->

        <!-- Navbar brand -->
        <a class="navbar-brand px-lg-4 mr-0" href="#">
        <h2 style="font-family: 'Yesteryear', cursive; color:#ef6c00;">SharkTank</h3>
        </a>

        <!-- Links -->
</ul>
        <!-- Links -->

       </div>

    </nav>
  <div class="view" style="background-image: url('https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2014/01/07/101317308-show-thumb-sharktank-1600x900.1910x1000.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<br>
<br>
<br>
<div class="row">
  <div class="col-6 col-md-4">
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Mask & flexbox options-->
<p style="font-family: 'IM Fell Double Pica SC', serif; color:#ef6c00; font-size:70px;">"No one has ever became poor by giving"</p>
    </div>
  </div>
<!--
  font-family: 'Racing Sans One', cursive;
  font-family: 'Ribeye', cursive;
  font-family: 'IM Fell Double Pica SC', serif; -->
    <!-- Mask & flexbox options-->
  </div>
</header>
<br>
<hr>

  <p class="text-center" style="font-family:'Lovers Quarrel', cursive; font-size:70px; color:#ef6c00;"> Give them a reason to smile & you may receive more</h2>
<footer class="blockquote-footer mb-3">NGO<cite title="Source Title">Source Title</cite></footer>
</div>
<blockquote class="blockquote bq-warning">
    <div class="container">
      <p class="bq-title">About NGO</p>
<p style="font-size:23px;">The past five decades have witnessed the difficult problems encountered in providing health care services to our poor people, the majority of who live in more than half-a-million villages and in the proliferating slums of our cities. Charitable and voluntary organisations since time immemorial have been contributing significantly towards the health care of the community.There are many kinds of Non-Governmental Organisations (NGOs) engaged in working towards the improvement of the social, economic, environmental and political conditions of the country. They include citizens’ associations, professional societies, foundations, some universities and research centers, and networks of experts or institutions.
With the passage of time, Non-Governmental Organisations (NGOs) have equipped themselves adequately and come up enthusiastically in providing services like relief to the blind, the disabled and disadvantaged and helping the government in mother and child health care, including family planning programmes.</p>
</div>
</blockquote>
<div class="parallax">

</div>





<!-- Footer -->
<blockquote class="blockquote bq-warning">
<div class="container">
  <p class="bq-title">NGO IN INDIA</p>
<p style="font-size:23px;">Social service is associated with India since ancient times. It is said that even Mahatma Gandhi after attaining independence wanted Indian National congress to be transformed into a Public service organization. Although such proposal was rejected, later many of staunch Gandhi followers did setup large number of voluntary orgs across various parts of the country to carry of the constructive works on Gandhian principles. However, the real and identified registration and formation of NGOs emerged in India from early 1970s. Immediately after their formal inception, NGOS received grater thrust form the Government in more than one ways.</p>
<p style="font-size:23px;">The GOI during the sixth Five year plan with its famous”GARIBI HATAO” slogan did recognize the importance of NGOs in the development process of India. In the seventh FYP, it gave a task of developing “self-reliance communities” to NGOs for promoting rural development. Later in the eighth FYP, government sought to promote nationwide network of NGOs. In its ninth FYP, it envisaged the primary role of in promoting PPPS in the country. The tenth FYP envisaged the need and importance of NGOS in developing agricultural sector by promoting awareness among the farmers about various modern farm techniques and government initiatives for their benefit. Moreover, government has also been promoting the development of NGOs through financial aid and assistance programmes.</p>

</blockquote>


  <footer class="blockquote-footer mb-3">NGOINDIA<cite title="Source Title">Source Title</cite></footer>
</blockquote>
<footer class="page-footer font-small special-color-dark">

    <div style="background-color: orange;">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">


            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">NGOINDIA</h6>
          <hr class="deep-orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/home">Home</a>
          </p>
          <p>
            <a href="/find">Search</a>
          </p>
          <p>
            <a href="/state">Statewise NGO</a>
          </p>
          <p>
            <a href="/about">About Us</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Delhi, NY 10012, India</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> ngoind@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 91 9994 563 573</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://ngoindia1.com"> NgoIndia1.com</a>
    </div>
    <!-- Copyright -->

  </footer>

</body>
</html>
