<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NGO</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">NGO</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="basicExampleNav">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>



        </ul>

        <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
    </div>

</nav>
<br>
<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="h1-reponsive mb-4 mt-2 green-text font-bold">Search By Anything</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>

</div>
<!--Jumbotron-->
<br>
<div class="container">

  <hr>
  <br>
  <br>
<form action="/searchbyname" method="GET">
  <div class="container">
<div class="md-form form-lg">
    <input type="text" id="inputLGEx" class="form-control form-control-lg" name="name" placeholder="NGO Name">
    <button type="submit" class="btn btn-success btn-rounded">Search</button>
</div>
    </div>
    </form>
    <form action="/searchbystate" method="GET">
      <div class="container">
    <div class="md-form form-lg">
        <input type="text" id="inputLGEx" class="form-control form-control-lg" name="state" placeholder="State Name">
        <button type="submit" class="btn btn-success btn-rounded">Search</button>
    </div>
        </div>
        </form>
        <form action="/searchbyreg" method="GET">
          <div class="container">
        <div class="md-form form-lg">
            <input type="text" id="inputLGEx" class="form-control form-control-lg" name="reg" placeholder="Register Number">
            <button type="submit" class="btn btn-success btn-rounded">Search</button>
        </div>
            </div>
            </form>
            <form action="/searchbycity" method="GET">
              <div class="container">
            <div class="md-form form-lg">
                <input type="text" id="inputLGEx" class="form-control form-control-lg" name="city" placeholder="city">
                <button type="submit" class="btn btn-success btn-rounded">Search</button>
            </div>
                </div>
                </form>
                <form action="/searchbysector" method="GET">
                  <div class="container">
                <div class="md-form form-lg">
                    <input type="text" id="inputLGEx" class="form-control form-control-lg" name="sector" placeholder="Sector Name">
                    <button type="submit" class="btn btn-success btn-rounded">Search</button>
                </div>
                    </div>
                    </form>
    </div>

</body>
</html>
